<div class="main">
  <div class="mainBgCover"></div>
  <div class="header py-3">
    <div class="container ml-n2">
      <div class="d-flex flex-row">
        <img src="skin/images/dune-wallet-logo-alpha.png"/>
      </div>
    </div>
  </div>
  <div class="med-container">
    <h2 class="med-title">{{translate('secure_your_tezbox')}}</h2>
    <div class="container-box">
      <div class="row">
        <div class="col-md-10 offset-md-1 mb-3">
          <p class="alert alert-info"><i class="leftIcon fas fa-exclamation-circle"></i><strong>{{translate("secure_your_tezbox_info")}}</strong></p>
        </div>
        <div class="col-md-6 offset-md-3">
          <div class="form-group">
            <label>{{translate('password')}} <i class="leftIcon fas fa-question-circle" data-toggle="tooltip" data-placement="right" title="{{translate('password_tooltip2')}}" tooltip></i></label>
            <input autocomplete="off" type="password" class="form-control" ng-model="password">
          </div>
          <div class="form-group">
            <label>{{translate('password_again')}}</label>
            <input autocomplete="off" type="password" class="form-control" ng-model="password2">
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-4 offset-md-4">
          <a ng-click="encrypt()" class="btn btn-primary btn-block">{{translate('encrypt_wallet')}}</a>
        </div>
        <div class="col-md-4 offset-md-4">
          <a ng-click="cancel()" class="btn btn-secondary btn-block">{{translate('cancel')}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
